
body{
	font-family: 'Robert Slab', serif;
	background: #B8860B;
	}


.container{
	height: 330px;
	width: 1000px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	background: #2F4F4F;
	padding: 20px;
	border: 1px solid #08038c;
	box-shadow: 0 0 8px 3px #00BFFF;

}

.title{
	padding-top: 20px;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	color: #FFD700;
	

}

.quoestion{
	padding: 20px;
	font-size: 25px;
	background: #008BAB;
	border-radius: 20px;
	margin: 10px 0 10px 0;
	color: #f6f6f6;
	font-style: italic;
	border-style: solid;
	border-color: #000000;
	 box-shadow: 0 0 8px 3px #FFFFFF;
}

.option{
	width: 470px;
	display: inline-block;
	padding: 10px 0 10px 15px;
	vertical-align: middle;
	background: rgba(255, 255, 255, 0.5);
	margin: 10px 0 10px 10px;
	color: #000000;
	border-radius: 20px;
	font-size: 30px;


}

.option:hover{
	background: #000000;
	color: #f6f6f6;
}

.next-btn{
	border-style: solid;
	outline-style: dotted;
	outline-color: #ffffff;
	background:#4682B4;
	border-color: #000;
	width: 100px;
	height: 35px;
	border-radius: 20px
	cursor: pointer;
	float: right;
	margin: 10px;
}

.next-btn:hover{
	background: #000000;
	color: #ffffff;
	}
.result{
		height: 100px;
		text-align: center;
		font-size: 75px;
		font-style: italic;

	}
	.option input:checked .option{
		background: #08038;
		color: #000;
	}


.timer {
  
  color:#FFFFFF;
  font-size:60px;
  text-align: center;
  font-style: italic;
  background: #000000;
  box-shadow: 0 0 8px 3px #00BFFF;
  border: solid;
  





}
